@use '../settings/variables' as *;
@use '../settings/objects' as *;
@use 'sass:color';

.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: $color-white;
    transition: background-color $time-fast, color $time-fast;
    .container{
        @extend %container;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        padding: 20px 0;
        img{
            height: 50px;
        }
    }
    &__nav{
        display: flex;
        gap: 32px;
        font-family: $font-title;
        &__item{
            position: relative;
            color: $color-dark;
            text-transform: uppercase;
            font-size: 20px;
            padding: 8px 0;
            transition: color $time-fast;
            &:before{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $color-red;
                transition: width $time-fast;
            }
            &:hover{
                color: $color-red;
            }
            &.active{
                color: $color-red;
                &:before{
                    width: 100%;
                }
            }
        }
    }
    &__quote{
        background-color: $color-red;
        color: $color-white;
        padding: 10px 20px;
        font-weight: $fw-sBold;
        font-size: 15px;
        transition: background-color $time-fast;
        &:hover{
            background-color: $color-green-dark;
        }
    }
    &.home-header{
        background-color: $color-yellow-light;
    }
    &.scrolled{
        box-shadow: $box-shadow;
        background-color: $color-white;
    }
}