@use '../settings/variables' as *;
@use '../settings/objects' as *;
@use 'sass:color';

// Home Intro
.homeIntro{
    background-color: $color-yellow-light2;
    height: calc(100vh - 90px);
    display: flex;
    flex-wrap: wrap;
    &__left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
    }
    &__since{
        background-color: $color-white;
        color: $color-red;
        font-weight: $fw-sBold;
        font-size: 14px;
        padding: 7px 20px;
        border-radius: 999px;
        margin-bottom: 32px;
    }
    h1{
        font-size: 72px;
        text-transform: uppercase;
        line-height: 1.1;
        padding-bottom: 36px; 
        span{
            display: block;
            color: $color-red;
        }
    }
    p{
        font-size: 20px;
        line-height: 1.5;
        font-weight: $fw-medium;
        padding: 0 10% 40px;
    }
    &__scroll{
        width: 32px;
        height: 60px;
        border: 1px solid $color-red;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        background-color: $color-white;
        cursor: pointer;
        transition: background-color $time-fast, color $time-fast;
        &:hover{
            background-color: $color-red;
            color: $color-white;
        }
    }
    &__pic{
        position: relative;
        width: 50%;
        height: 100%;
        &__img{
            @extend %image;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

// About Text Block on Home Page
.aboutHome{
    scroll-margin-top: 90px;
    padding: 100px 0;
    .container{
        @extend %container;
    }
    .patch{
        @extend %patch;
        justify-content: center;
    }
    &__title{
        text-align: center;
        text-transform: uppercase;
        font-size: 44px;
        padding: 10px 0 40px;
    }
    .blocks{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        &__item{
            .blockImage{
                position: relative;
                border-radius: 15px;
                overflow: hidden;
                height: 100%;
                display: flex;
                align-items: flex-end;
                &__pic{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    &__img{
                        @extend %image;
                    }
                }
                &__text{
                    position: relative;
                    background-color: $color-white;
                    margin: 0 25px 25px;
                    border-radius: 10px;
                    padding: 25px;
                    &__num{
                        font-size: 48px;
                        padding-bottom: 4px;
                    }
                    p{
                        font-size: 18px;
                        line-height: 1.5;
                    }
                }
            }
            .blockTexts{
                background-color: $color-yellow-light;
                border-radius: 15px;
                padding: 25px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &__top{
                    &__num{
                        font-size: 48px;
                        padding-top: 4px;
                    }
                    p{
                        font-size: 18px;
                        line-height: 1.5;
                    }
                }
                &__bot{
                    &__images{
                        display: flex;
                        padding: 0 0 20px 15px;
                        &__img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            margin-left: -15px;
                            border: 1px solid $color-white;
                        }
                    }
                    &__text{
                        font-size: 18px;
                        line-height: 1.5;
                    }
                }
            }
            .blocksColors{
                display: flex;
                flex-direction: column;
                gap: 15px;
                color: $color-white;
                &__top{
                    background-color: $color-green-dark;
                    border-radius: 15px;
                    padding: 25px;
                    &__text{
                        font-size: 18px;
                    }
                    &__num{
                        font-size: 48px;
                        padding-bottom: 32px;
                    }
                }
                &__bot{
                    background-color: $color-red;
                    border-radius: 15px;
                    padding: 15px 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &__text{
                        font-size: 18px;
                        line-height: 1.5;
                    }
                    &__num{
                        font-size: 48px;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}