@use '../settings/variables' as *;
@use '../settings/objects' as *;
@use 'sass:color';

// Home Intro
.homeIntro{
    background-color: $color-yellow-light2;
    height: calc(100vh - 90px);
    display: flex;
    flex-wrap: wrap;
    &__left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
    }
    &__since{
        background-color: $color-white;
        color: $color-red;
        font-weight: $fw-sBold;
        font-size: 14px;
        padding: 7px 20px;
        border-radius: 999px;
        margin-bottom: 32px;
    }
    h1{
        font-size: 72px;
        text-transform: uppercase;
        line-height: 1.1;
        padding-bottom: 36px; 
        span{
            display: block;
            color: $color-red;
        }
    }
    p{
        font-size: 20px;
        line-height: 1.5;
        font-weight: $fw-medium;
        padding: 0 10% 40px;
    }
    &__scroll{
        width: 32px;
        height: 60px;
        border: 1px solid $color-red;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        background-color: $color-white;
        cursor: pointer;
        transition: background-color $time-fast, color $time-fast;
        &:hover{
            background-color: $color-red;
            color: $color-white;
        }
    }
    &__pic{
        position: relative;
        width: 50%;
        height: 100%;
        &__img{
            @extend %image;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

// About Text Block on Home Page
.aboutHome{
    scroll-margin-top: 90px;
    padding: 100px 0;
    .container{
        @extend %container;
    }
    .patch{
        @extend %patch;
        justify-content: center;
    }
    &__title{
        text-align: center;
        text-transform: uppercase;
        font-size: 44px;
        padding: 10px 0 40px;
    }
    .blocks{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        &__item{
            .blockImage{
                position: relative;
                border-radius: 15px;
                overflow: hidden;
                height: 100%;
                display: flex;
                align-items: flex-end;
                &__pic{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    &__img{
                        @extend %image;
                    }
                }
                &__text{
                    position: relative;
                    background-color: $color-white;
                    margin: 0 25px 25px;
                    border-radius: 10px;
                    padding: 25px;
                    &__num{
                        font-size: 48px;
                        padding-bottom: 4px;
                    }
                    p{
                        font-size: 18px;
                        line-height: 1.5;
                    }
                }
            }
            .blockTexts{
                background-color: $color-yellow-light;
                border-radius: 15px;
                padding: 25px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &__top{
                    &__num{
                        font-size: 48px;
                        padding-top: 4px;
                    }
                    p{
                        font-size: 18px;
                        line-height: 1.5;
                    }
                }
                &__bot{
                    &__images{
                        display: flex;
                        padding: 0 0 20px 15px;
                        &__img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            margin-left: -15px;
                            border: 1px solid $color-white;
                        }
                    }
                    &__text{
                        font-size: 18px;
                        line-height: 1.5;
                    }
                }
            }
            .blocksColors{
                display: flex;
                flex-direction: column;
                gap: 15px;
                color: $color-white;
                &__top{
                    background-color: $color-green-dark;
                    border-radius: 15px;
                    padding: 25px;
                    &__text{
                        font-size: 18px;
                    }
                    &__num{
                        font-size: 48px;
                        padding-bottom: 32px;
                    }
                }
                &__bot{
                    background-color: $color-red;
                    border-radius: 15px;
                    padding: 15px 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &__text{
                        font-size: 18px;
                        line-height: 1.5;
                    }
                    &__num{
                        font-size: 48px;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}

// Trust Block
.trustBlock{
    background-color: $color-yellow-light;
    padding: 100px 0;
    .container{
        @extend %container;
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
    }
    &__left, &__right{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    &__left{
        &__picBlock{
            position: relative;
            min-height: 500px;
            &__img{
                @extend %image;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 15px;
            }
            &__patch{
                position: absolute;
                bottom: -60px;
                right: -60px;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background-color: $color-white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-shadow: $box-shadow;
                span{
                    font-size: 40px;
                    font-family: $font-title;
                }
            }
        }
        .trustPoints{
            display: flex;
            flex-direction: column;
            gap: 20px;
            &__item{
                border-bottom: 1px solid $color-yellow-light3;
                padding-bottom: 20px;
                &:last-child{
                    padding-bottom: 0;
                    border-bottom: none;
                }
                .titleBlock{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    cursor: pointer;
                    h3{
                        font-size: 28px;
                        flex: 1;
                        transition: color $time-fast;
                    }
                    span{
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid $color-dark;
                        font-size: 20px;
                        transition: color $time-fast, border-color $time-fast;
                    }
                    &:hover{
                        h3{
                            color: $color-red;
                        }
                        span{
                            border-color: $color-red;
                            color: $color-red;
                        }
                    }
                }
                .text{
                    display: none;
                    p{
                        font-size: 17px;
                        line-height: 1.5;
                        padding-top: 10px;
                    }
                }
                &.open{
                    .text{
                        display: block;
                    }
                }
            }
        }
    }
    &__right{
        &__content{
            .patch{
                @extend %patch;
            }
            h2{
                font-size: 48px;
                padding-bottom: 15px;
            }
            p{
                line-height: 1.6;
                font-size: 18px;
            }
        }
        &__picBlock{
            position: relative;
            border-radius: 15px;
            overflow: hidden;
            display: flex;
            align-items: flex-end;
            flex: 1;
            &__img{
                @extend %image;
                position: absolute;
                top: 0;
                left: 0;
            }
            &__content{
                position: relative;
                margin: 0 0 25px 25px;
                width: 380px;
                padding: 25px;
                color: $color-white;
                background-color: color.scale($color-black, $alpha: -60%);
                border-radius: 15px;
                backdrop-filter: blur(5px);
                h2{
                    font-size: 32px;
                    padding-bottom: 5px;
                }
                p{
                    font-size: 17px;
                    line-height: 1.5;
                    padding-bottom: 20px;
                }
                .btn{
                    display: flex;
                    a{
                        @extend %button;
                        @extend %button-red;
                        &:hover{
                            @extend %button-white;
                        }
                    }
                }
            }
        }
    }
}

// SVC List on Home Page
.svcListHome {
    background-color: $color-green-dark;
    text-align: center;
    color: $color-white;
    font-size: 20px;
    font-weight: $fw-medium;
    padding: 60px 0 100px;
    overflow: hidden;

    &__marquee {
        display: flex;
        width: max-content;
        animation: svcMarquee 100s linear infinite;

        // Pause on hover
        &:hover {
            animation-play-state: paused;
        }

        span {
            font-family: $font-title;
            font-size: 200px;
            margin: 0 50px;
            white-space: nowrap;

            &:nth-child(2n+2) {
                opacity: .2;
            }
        }
    }
}

@keyframes svcMarquee {
    from {
        transform: translateX(0);
    }
    to {
        // Move by half the total width (since we duplicate the content)
        transform: translateX(-50%);
    }
}

// Why Choose Us Block
.whyChooseUs{
    display: flex;
    &__pic{
        position: relative;
        width: 50%;
        &__img{
            @extend %image;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__textBlock{
        background-color: $color-red;
        padding: 100px;
        width: 50%;
        color: $color-white;
        .patch{
            @extend %patch;
            span{
                border-color: $color-white;
            }
        }
        h2{
            font-size: 48px;
            padding-bottom: 40px;
        }
        ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px 80px;
            li{
                .num{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid $color-yellow-light3;
                    font-size: 20px;
                    font-weight: $fw-sBold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                }
                h3{
                    font-size: 24px;
                    padding-bottom: 3px;
                }
                p{
                    font-size: 17px;
                    font-weight: $fw-medium;
                    line-height: 1.6;
                }
            }
        }
    }
}