@use './variables' as *;
@use 'sass:color';

// Container
%container{
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}

// Image
%image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

// Patch
%patch{
    display: flex;
    margin-bottom: 20px;
    span{
        border: 1px solid $color-green-dark;
        font-weight: $fw-medium;
        padding: 8px 24px;
        border-radius: 999px;
    }
}

// Button
%button{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: $fw-medium;
    transition: background-color $time-fast, color $time-fast;
}
%button-red{
    background-color: $color-red;
    color: $color-white;
}
%button-white{
    background-color: $color-white;
    color: $color-red;
}