// Color Variables
$color-black: #000000;
$color-white: #ffffff;

// Site Colors
$color-dark: #151617;
$color-orange: #af4326;
$color-yellow-light: #f9f4ee;
$color-yellow-light2: #f8ebd8;
$color-yellow-light3: #151617;
$color-green-dark: #1c2721;
$color-yellow-dark: #f39c12;

// Settings Colors
$color-whatsapp-dark: #128c7e;
$color-whatsapp-light: #25d366;

$color-warning: #f1c40f;
$color-danger: #e74c3c;
$color-success: #009432;


// Font Weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-sBold: 600;
$fw-bold: 700;


// Font Variables
$font: "Red Hat Display", sans-serif;


// Animation Timing
$time-veryfast: .25s;
$time-fast: .5s;
$time-normal: .75s;
$time-slow: 1s;